.navlink{
    display: flex;
    align-items: center;
    padding-left: 260px;
    font-family: 'Roboto Mono', monospace;
}
.navlink{
    margin-inline: 60px;
}


.containerbox{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu_link{
    padding-left: 60px;
}